<html>

<head>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />
  <title>Sign Up</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">	
  <link rel="icon" type="image/png" href="../signup/images/icons/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../signup/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../signup/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../signup/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
  <link rel="stylesheet" type="text/css" href="../signup/fonts/iconic/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" type="text/css" href="../signup/vendor/animate/animate.css">
  <link rel="stylesheet" type="text/css" href="../signup/vendor/css-hamburgers/hamburgers.min.css">
  <link rel="stylesheet" type="text/css" href="../signup/vendor/animsition/css/animsition.min.css">
  <link rel="stylesheet" type="text/css" href="../signup/vendor/select2/select2.min.css">	
  <link rel="stylesheet" type="text/css" href="../signup/vendor/daterangepicker/daterangepicker.css">
  <link rel="stylesheet" type="text/css" href="../signup/css/util.css">
  <link rel="stylesheet" type="text/css" href="../signup/css/main.css">
</head>

<body class="customer">
  <%- include('./_menu.ejs') %>
  <%- include('./_inform.ejs') %>
  <div class="align-center">
    <h2 class="text-center">SIGN-UP</h2>
    <form action="./signup" method="POST">
      <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form class="login100-form validate-form">

					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<span class="label-input100">Full Name</span>
						<input class="input100" type="text" name="txtName" placeholder="Name..." required>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<span class="label-input100">Email</span>
						<input class="input100" type="email" name="txtEmail" placeholder="Email addess..." required>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="txtUsername" placeholder="Username..."required>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="txtPassword" pattern=".{3,}" placeholder="*************" required>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Repeat Password is required">
						<span class="label-input100">Phone</span>
						<input class="input100" type="tel" name="txtPhone" placeholder="Phone number" required>
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								<input type="submit" value="SIGN-UP" />
							</button>
            </div>
            
            

						<a href="./login" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
							Sign in
							<i class="fa fa-long-arrow-right m-l-5"></i>
						</a>
					</div>
				</form>
      </div>
      
      <!-- <table class="align-center">
        <tr>
          <td>Username</td>
          <td><input type="text" name="txtUsername" required /></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="txtPassword" pattern=".{3,}" required /></td>
        </tr>
        <tr>
          <td>Name</td>
          <td><input type="text" name="txtName" required /></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><input type="tel" name="txtPhone" pattern="0[0-9]{9}" required /></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><input type="email" name="txtEmail" required /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="SIGN-UP" /></td>
        </tr>
      </table> -->
    </form>
  </div>
</body>

</html>